<h3>Tasks List</h3>
<table class="table">
    <thead>
    <tr>
        <th>Title</th>
        <th>Status</th>
        <th>Schedule</th>
        <th class="text-right">Updated At</th>
        <th class="text-right">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let task of tasksList">
        <td>{{ task.title }}</td>
        <td>
            <span class="label label-success" *ngIf="task.completed">Completed</span>
            <span class="label label-warning" *ngIf="! task.completed">InComplete</span>
        </td>
        <td>{{ task.schedule | date }}</td>
        <td class="text-right">{{ task.updated_at | date }}</td>
        <td class="td-actions text-right">
            <button type="button" rel="tooltip" class="btn btn-success" style="margin-right: 5px;">
                <i class="material-icons">edit</i>
            </button>
            <button type="button" rel="tooltip" class="btn btn-danger" data-original-title="" title="">
                <i class="material-icons">close</i>
            </button>
        </td>
    </tr>
    </tbody>
</table>