<a href="" data-toggle="modal" data-target=".add-task" class="btn btn-rounded btn-primary m-b-20 waves-effect waves-light  btn-raised btn-block">Add Task</a>
<hr class="mt-2 mb-2">
<ul class="list-group list-group-full">
    <li class="list-group-item">
        <a href="javascript:void(0)"> <i class="material-icons text-success">check</i> All list</a>
    </li>
    <li class="list-group-item">
        <a href="javascript:void(0)"> <i class="material-icons text-success">check</i> Priority</a>
    </li>
    <li class="list-group-item">
        <a href="javascript:void(0)"> <i class="material-icons text-success">check</i> Done</a>
    </li>
    <li class="list-group-item">
        <a href="javascript:void(0)"> <i class="material-icons text-success">check</i> Today</a>
    </li>
</ul>
<hr class="mt-2 mb-2">
<h3 class="card-title m-t-10  p-l-15">Categories <i class="mdi mdi-plus-circle pull-right text-light-gray2"></i></h3>
<a href="" data-toggle="modal" data-target=".add-category" class="btn btn-rounded btn-primary m-b-20 waves-effect waves-light  btn-raised btn-block">Add New Category</a>
<div class="list-group b-0 mail-list">
    <a href="#" class="list-group-item" *ngFor="let category of categoriesList"><span class="fa fa-circle circle-tab text-success m-r-10"></span> {{ category.name }}</a>
</div>
