<div class="col-md-3">
    <div class="card">
        <div class="card-content">
            <app-tasks-sidebar [categoriesList]="categories"></app-tasks-sidebar>
        </div>
    </div>
</div>
<div class="col-md-9">
    <div class="card">
        <div class="card-content">
            <div class="table-responsive">
                <app-tasks-table *ngIf="tasks" [tasksList]="tasks"></app-tasks-table>

                <div class="card"  *ngIf="! tasks">
                    <div class="card-content content-danger">
                        <h6 class="category text-danger">
                            <i class="material-icons">error_outline</i> Error
                        </h6>
                        <h4 class="card-title">
                            <a href="#pablo">There is no tasks. Add new Task</a>
                        </h4>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

